.pick-one {
padding-left: 160px;
font-size: 20px;
width: 300px;
font-family: tahoma, arial;
}

  /* Display 0px to 767px */

  @media (max-width: 767px) {
  .left-second-sidebar {
  left: 150px;
  }
  .pick-one {
  width: 110px;
  }
  }